* {
   margin: 0;
   padding: 0;
  
}

.Person{
display: flex;
flex-direction: row;
justify-content: center;
margin-top: 200px;

}
.personimg{
   border-radius: 30px; 

}
.Person__info{
margin-left: 50px;
margin-top: 150px;
}

.Person__name{
font-size: 60px;
margin-bottom: 60px;
}
.Person__title{
font-size: 30px;
margin-bottom: 10px;
}
.contact-form {
   background: #ffffff;
   padding: 20px;
   border-radius: 8px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   width: 100%;
   max-width: 700px;
   height: auto;
   margin-top: 200px;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   margin-bottom: 100px;
}
.contact-form h2 {
   margin-bottom: 20px;
   font-size: 24px;
   color: #333;
}
.contact-form label {
   font-size: 14px;
   color: #555;
   margin-bottom: 5px;
   display: block;
}
.contact-form input,
        .contact-form textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ddd;
            border-radius: 5px;
            font-size: 14px;
        }

        .contact-form input:focus,
        .contact-form textarea:focus {
            border-color: #8fc93c;
            outline: none;
            box-shadow: 0 0 5px #8fc93c;
        }

        .contact-form button {
         background-color: #8fc93c;
         color: #fff;
         padding: 10px 15px;
         border: none;
         border-radius: 5px;
         cursor: pointer;
         font-size: 16px;
     }
     .contact-form button:hover {
      background-color: #8fc93c;
  }

.container {
   width: 80%;
   margin: 0 auto;
   padding: 20px;
   font-family: Arial, sans-serif;
   text-align: center;
}


.faq-category {
   margin-bottom: 40px;
   border-bottom: 2px solid #f1f1f1;
   padding-bottom: 15px;
}


.faq-category h2 {
   font-size: 1.5em;
   color: #333;
   margin-bottom: 10px;
}


.faq-question {
   font-size: 1.2em;
   font-weight: bold;
   color: #8fc93c;
   cursor: pointer;
   margin: 10px 0;
   padding: 5px 0;
   transition: color 0.3s ease;
   margin-bottom: 40px;
}


.faq-question:hover {
   color: #75a335;
}


.faq-answer {
   font-size: 1em;
   color: #333;
  
   padding: 10px;
   background-color: #f9f9f9;
   border-radius: 5px;
   transition: max-height 0.3s ease-out, padding 0.3s ease-out;
   max-height: none;
   overflow: hidden;
   margin-bottom: 10px;
}


.faq-answer.show {
   max-height: none;
   padding: 10px;
   margin-bottom: 20px;
}

.faq-question::before {
   content: "▼";  
   margin-right: 10px;
   transition: transform 0.3s ease;
}

.faq-question.expanded::before {
   transform: rotate(180deg); 
}


html {
   scroll-behavior:smooth;
}
