.Person{
display: flex;
flex-direction: row;
justify-content: center;
margin-top: 200px;

}
.personimg{
   border-radius: 30px; 

}
.Person__info{
margin-left: 50px;
margin-top: 150px;
}

.Person__name{
font-size: 60px;
margin-bottom: 60px;
}
.Person__title{
font-size: 30px;
margin-bottom: 10px;
}